textarea {
    width: 63%;
    height: 50vh;
    border-radius: 13px;
    background-color: rgba(0, 0, 0, 0.184);
    padding: 25px;
    color: #fff;
    font-size: medium;
}

textarea::-webkit-scrollbar {
    width: 10px;
    background-color: whitesmoke;
}

textarea::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: darkgray;
    border-radius: 10px;
}